@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>ABOUT THE WEBSITE</h2>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <p>



                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id orci nec massa consequat molestie eget sit amet sem. Vestibulum aliquet velit mauris, nec consequat sapien condimentum ut. Aenean porta lorem magna, in egestas sem gravida a. Morbi in sapien laoreet, pharetra tortor sit amet, viverra odio. Vivamus molestie dapibus bibendum. Pellentesque eu augue et nisi iaculis vulputate. Nullam nec elementum ex. Quisque non aliquam nibh. Morbi vel nisl neque. Fusce rutrum posuere arcu. Ut scelerisque gravida elit non vestibulum. Phasellus venenatis molestie enim, a egestas neque egestas et. Sed elementum mauris enim. Ut dignissim eros convallis, aliquet tortor rutrum, consectetur leo.
                <br /><br />

                Quisque arcu ipsum, rutrum quis fringilla in, porta eget ex. Donec ut lectus vel sem vestibulum faucibus ac et magna. Cras egestas dictum ligula, vel vehicula nunc hendrerit eget. Proin congue et neque sed tempor. Sed ac augue eget dolor fermentum efficitur a sed sapien. Vestibulum rutrum purus at ullamcorper tincidunt. Aliquam in tincidunt ipsum. Integer ut justo volutpat massa semper aliquet. Etiam purus ante, malesuada sit amet lorem non, ultrices gravida metus. Curabitur tincidunt, ex id lobortis iaculis, felis dui tincidunt magna, vel vehicula nisl ante sed nibh. Mauris rhoncus at turpis sit amet rutrum. Nullam molestie vehicula pharetra. Vivamus aliquet, dolor nec posuere faucibus, augue odio mattis felis, non tincidunt lorem lacus vitae est. Aenean tristique erat at lacus dapibus, eget fringilla dolor suscipit. Quisque vel aliquet tellus.
                <br /><br />
                Phasellus dictum urna vel elit egestas sodales. Sed sodales faucibus magna in feugiat. Etiam sit amet iaculis tortor. Vivamus laoreet, eros sit amet accumsan elementum, velit orci faucibus turpis, at ornare dolor dui ac tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu tellus est. Vestibulum a turpis est. Ut molestie orci non arcu sollicitudin, eu tincidunt ex aliquet. Vivamus urna arcu, sollicitudin nec dui et, ullamcorper laoreet tortor. Morbi lacinia in leo ut blandit.
                <br /><br />
                Quisque a erat tempus, dignissim augue at, ullamcorper nibh. Aenean et ante egestas, egestas arcu nec, mollis justo. Aenean euismod eget ligula sit amet lacinia. Morbi vitae mollis est. Nam ornare quam ac tincidunt gravida. Proin non nibh finibus, ultricies metus vel, interdum dui. Curabitur elementum tortor metus, eu porta ante pellentesque vel. Phasellus erat magna, accumsan quis tempus eu, cursus id magna. Morbi vestibulum sed diam quis sollicitudin. Sed sed urna venenatis, laoreet quam non, pellentesque lorem. Nulla quis augue vitae ex aliquet imperdiet ut ut lacus. Morbi pharetra justo in ligula imperdiet pulvinar. Integer rhoncus nec arcu et tempus. Pellentesque congue eros ligula, quis tincidunt sem eleifend nec. Sed lacinia leo ipsum, et fermentum lorem commodo eget. Aliquam volutpat odio et lorem suscipit, eu mollis est venenatis.
                <br /><br />
                Cras vehicula, dolor eu rhoncus facilisis, elit nunc suscipit diam, sed ornare dolor dui in quam. Ut semper leo vitae nunc porta vestibulum. Nunc laoreet dictum leo, id luctus purus vestibulum id. Aliquam tempus at nisi ut accumsan. Sed id porttitor ante. Curabitur iaculis ante porttitor vulputate sagittis. Vivamus luctus ut justo laoreet lacinia. Duis gravida aliquet nibh, quis finibus tellus rhoncus non. Aenean in arcu vel ante consectetur viverra.
                <br /><br />
                Suspendisse ut diam eget magna pellentesque ornare in non tellus. Donec viverra dictum lectus et pulvinar. Integer ullamcorper leo orci. Mauris et neque orci. Praesent eleifend nisl libero, sit amet vulputate turpis tempus vel. Praesent luctus sed orci nec bibendum. Praesent rhoncus neque ac arcu mollis ornare. Maecenas pharetra lacinia massa in pellentesque. Suspendisse potenti. Fusce vehicula interdum arcu, ut vulputate risus porta efficitur.
                <br /><br />
                Sed feugiat facilisis enim, et gravida eros auctor at. Sed feugiat, nibh id pharetra dictum, lectus orci convallis arcu, ac pretium ligula mauris ut neque. Praesent eros turpis, venenatis eget auctor sollicitudin, condimentum vel metus. Morbi interdum dictum pharetra. In hac habitasse platea dictumst. Donec malesuada aliquet lorem. Sed nec eros eleifend, ullamcorper risus quis, congue lacus. Nullam consectetur mi eros, at placerat odio volutpat ut. Mauris cursus commodo diam, et pharetra mi fermentum id. Ut neque lectus, ultrices sed arcu ac, posuere tincidunt mauris. Aenean eu elit maximus lorem lacinia bibendum eu in quam. Aliquam erat volutpat. Vivamus vitae viverra leo, imperdiet sodales orci. Morbi ac felis sed dolor venenatis gravida id facilisis libero. Vestibulum accumsan ex sit amet tellus congue, sit amet cursus diam auctor. Sed placerat libero ut nisl posuere, sit amet ornare turpis porttitor.
                <br /><br />
                Sed non ante ipsum. Aliquam vestibulum sit amet nisi iaculis malesuada. Quisque interdum dui at pellentesque imperdiet. Aenean suscipit lacus ac finibus rutrum. Quisque sit amet nulla finibus, blandit est id, varius lorem. Nunc quam nulla, molestie ac blandit quis, feugiat vel lorem. Curabitur maximus feugiat tincidunt. Sed iaculis dolor vel risus laoreet bibendum. In hac habitasse platea dictumst. Nulla nec vehicula tortor. Aenean condimentum commodo consequat. Nulla facilisi. Integer sodales sollicitudin nisl, eget ultricies magna aliquam vel. Etiam congue magna at odio eleifend euismod.
                <br /><br />
                Maecenas luctus nunc nec dui ornare, et vulputate sem semper. Etiam lobortis tortor ligula. Duis ipsum magna, tristique pretium imperdiet mattis, commodo eu dui. Sed ac lectus consequat, euismod libero non, hendrerit metus. Curabitur lorem felis, consequat quis consectetur facilisis, gravida in ipsum. Vestibulum condimentum efficitur eros, vitae interdum diam maximus non. Aliquam elit nisi, gravida eu euismod sit amet, mattis eleifend nibh. Quisque at enim eu eros vestibulum luctus. Donec in faucibus leo. Nulla quam felis, vehicula ac urna nec, mollis consectetur lorem. Vivamus libero nibh, rhoncus in libero et, tempus semper sapien. Donec vitae eros imperdiet, finibus erat sed, consectetur augue. Vestibulum suscipit est vel ante ultricies viverra.
                <br /><br />
                Morbi eget enim ac nibh pharetra consequat eget nec arcu. Nunc et est libero. Vivamus interdum egestas nulla, eget faucibus nibh ultrices at. Pellentesque placerat, libero et vehicula ultricies, orci ipsum consectetur mi, ac vulputate urna ante et ex. Vivamus vitae nibh orci. Suspendisse quis condimentum nibh. Curabitur ut dolor bibendum, pharetra sem eu, aliquet purus. Vivamus eget nisi augue. Sed euismod bibendum leo. Curabitur vitae nunc est. Pellentesque neque ex, elementum quis laoreet vel, rutrum at odio. Sed mi elit, dapibus a libero ac, ornare sodales nunc. Integer malesuada dapibus lorem. Nam et placerat dui.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/img/TheSopranosLogo.jpg" class="img-responsive center-block" />

            <br /><br /><br /><br /><br />

            <img src="~/img/TheSopranosCrew.jpg" class="img-responsive center-block" />

            <br /><br /><br /><br /><br />

            <img src="~/img/TonySopranoCigar2.jpg" class="img-responsive center-block" />

            <br /><br /><br /><br /><br />

            <img src="~/img/TheCrew.jpg" class="img-responsive center-block" />
        </div>

    </div>
</div>