@{
    ViewBag.Title = "Home Page";
}
<!-- Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:black">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/img/TheSopranosSlider3.jpeg" alt="The Sopranos" style="width:60%">
            <div class="carousel-caption">
                <div class="disappearingtext">
                    <h1>The Sopranos Fanbase.</h1>
                    <a href="/Members/Registration"><button type="button" class="btn btn-default">Join Now</button></a>
                    <br />
                    <h1 style="font-size:13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">© SopranosFanClub - Luke Vella</h1>
                </div>
            </div>
        </div>

        <div class="item ">
            <img src="~/img/TheSopranosSlider1.jpeg" alt="The Sopranos" style="width:60%;">
            <div class="carousel-caption" style="top:50%; left:32%">
                <div class="disappearingtext">
                    <h1>Join the Mobster Community.</h1>
                    <h1 style="font-size:13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">© SopranosFanClub - Luke Vella</h1>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="~/img/TheSopranosSlider2.jpeg" alt="The Sopranos" style="width:60%;">
            <div class="carousel-caption" style="top:-10%; left: -5%">
                <h1 class="carouseltext">"A wrong decision is better than indecision."</h1>
                <h1 style="font-size:13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-left:30em ">                           - Tony Soprano</h1>
            </div>
        </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- About James and David-->

<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <h2>ABOUT THE PIONEERS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-4">
            <img src="~/img/Tributes/DavidChase.jpg" id="icon" />
            <h2>About David Chase</h2>
            <p>David Chase (born August 22, 1945) is an American screenwriter, director, and television producer. He is best known for writing and producing the HBO drama The Sopranos which aired for six seasons between 1999 and 2007. Chase has also produced and written for such shows as The Rockford Files, I'll Fly Away, and Northern Exposure. He created the original series Almost Grown which aired for 10 episodes in 1988 and 1989. He has won seven Emmy Awards.</p>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-4">
            <img src="~/img/Tributes/JamesGandolfini.jpg" id="icon" />
            <h2>About James Gandolfini</h2>
            <p>
                James Joseph Gandolfini Jr. (September 18, 1961 – June 19, 2013) was an American actor best known for his role as Tony Soprano, the Italian-American crime boss in HBO's television series, The Sopranos. He was widely hailed for his performance, winning three Emmy Awards, three Screen Actors Guild Awards, and one Golden Globe Award.
                His notable film roles include mob henchman Virgil in True Romance (1993), Lt. Bobby Dougherty in Crimson Tide (1995), and Mayor of New York in The Taking of Pelham 123 (2009).
            </p>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>ABOUT THE SOPRANOS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                The Sopranos is an American crime drama television series created by David Chase. The story revolves around fictional New Jersey-based, Italian American mobster Tony Soprano (James Gandolfini). The series portrays the difficulties that he faces as he tries to balance his home life and his criminal organization. These are explained during his therapy sessions with psychiatrist Jennifer Melfi (Lorraine Bracco).<br /><br /> The series features Tony's family members, mafia colleagues, and rivals in prominent roles and story arcs, most notably his wife Carmela (Edie Falco) and protégé Christopher Moltisanti (Michael Imperioli). <br /><br /> The pilot was ordered in 1997, and the show premiered on HBO in the United States on January 10, 1999. HBO ran the six seasons totalling 86 episodes until June 10, 2007. Broadcast syndication followed in the United States and internationally. The Sopranos was produced by HBO, Chase Films, and Brad Grey Television. It was primarily filmed at Silvercup Studios, New York City, and on location in New Jersey. The executive producers throughout the whole run were David Chase, Brad Grey, Robin Green, Mitchell Burgess, Ilene S. Landress, Terence Winter, and Matthew Weiner.
            </p>
        </div>

        <div class="col-md-6">

            <img src="~/img/badabing.jpg" class="img-responsive" />
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>ABOUT THE AUTHOR</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet malesuada turpis, a vehicula orci. Nunc aliquet turpis et ante scelerisque euismod. Nulla blandit diam nec metus maximus venenatis. Nam ac tincidunt nibh. Donec sit amet lacus eget lorem cursus convallis non ac velit. Donec vel aliquam mi, at elementum erat. Curabitur eros nibh, cursus sit amet leo vel, dictum elementum mi. Vivamus egestas ante sed felis tempor, et elementum ligula luctus. Vivamus ut enim rutrum ex consequat euismod. Duis dapibus tempus dignissim. Praesent eu odio ligula. Etiam sagittis elit et sollicitudin laoreet. Nam ut est urna.
                <br /> <br />
                Donec tincidunt elementum mauris. Nulla vel tempor quam. Ut non gravida lorem, eget ornare justo. In dignissim malesuada est ut elementum. Aenean vel libero ac ligula feugiat blandit id vel magna. Vivamus tincidunt orci nec metus facilisis placerat. Nulla sed egestas ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec et dictum mauris. Donec eget commodo ex, viverra euismod elit. Morbi hendrerit, turpis ut sollicitudin elementum, ipsum sem iaculis metus, ut accumsan tortor arcu eget nunc. Sed vel ultricies ante. In non justo pellentesque, rhoncus lorem vitae, imperdiet sapien.
                <br /> <br />
                Proin molestie accumsan convallis. Mauris mi metus, volutpat at pharetra a, tempor at mauris. Quisque efficitur sodales lacus, vel aliquet nulla tincidunt sed. Sed eget urna vel ipsum vulputate dictum

            </p>
        </div>

        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet malesuada turpis, a vehicula orci. Nunc aliquet turpis et ante scelerisque euismod. Nulla blandit diam nec metus maximus venenatis. Nam ac tincidunt nibh. Donec sit amet lacus eget lorem cursus convallis non ac velit. Donec vel aliquam mi, at elementum erat. Curabitur eros nibh, cursus sit amet leo vel, dictum elementum mi. Vivamus egestas ante sed felis tempor, et elementum ligula luctus. Vivamus ut enim rutrum ex consequat euismod. Duis dapibus tempus dignissim. Praesent eu odio ligula. Etiam sagittis elit et sollicitudin laoreet. Nam ut est urna.
                <br /> <br />
                Donec tincidunt elementum mauris. Nulla vel tempor quam. Ut non gravida lorem, eget ornare justo. In dignissim malesuada est ut elementum. Aenean vel libero ac ligula feugiat blandit id vel magna. Vivamus tincidunt orci nec metus facilisis placerat. Nulla sed egestas ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec et dictum mauris. Donec eget commodo ex, viverra euismod elit. Morbi hendrerit, turpis ut sollicitudin elementum, ipsum sem iaculis metus, ut accumsan tortor arcu eget nunc. Sed vel ultricies ante. In non justo pellentesque, rhoncus lorem vitae, imperdiet sapien.
                <br /> <br />
                Proin molestie accumsan convallis. Mauris mi metus, volutpat at pharetra a, tempor at mauris. Quisque efficitur sodales lacus, vel aliquet nulla tincidunt sed. Sed eget urna vel ipsum vulputate dictum

            </p>
        </div>

        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet malesuada turpis, a vehicula orci. Nunc aliquet turpis et ante scelerisque euismod. Nulla blandit diam nec metus maximus venenatis.
                <br /><br /> <img src="~/img/LukeVella.jpg"  class="img-responsive img-rounded" style="border: 2px solid black;" /><br /> <br />
                Nam ac tincidunt nibh. Donec sit amet lacus eget lorem cursus convallis non ac velit. Donec vel aliquam mi, at elementum erat. Curabitur eros nibh, cursus sit amet leo vel, dictum elementum mi. Vivamus egestas ante sed felis tempor, <br /><br />
            </p>

        </div>
    </div>

</div>

