
<body>
    <div class="container" style="background-color:transparent">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Under Construction.</h1>
                <br />
                <img class="underconstruction" src="~/img/underconstruction.jpg"  style="border: 1px solid white; border-radius: 50px"  />
                <br /><br /><br />
                <p style="color:white">Sorry, a rat snitched on us. We're still workin' on this section. Go have some gabagool and check back later. </p>
            </div>

        </div>
    </div>
</body>