body {
    padding-top: 4%;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: black;
    border-color: black;
}


@font-face {
    font-family: "Mobsters";
    src: url("../fonts/Mobsters.ttf");
}

.navbar-brand {
    padding-left: 30px;
    font-family: 'Mobsters', Arial, sans-serif;
    font-size: 45px;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

    .navbar-inverse .navbar-brand:hover, .navbar-inverse {
        color: white;
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse {
            color: silver;
        }

            .navbar-inverse .navbar-brand:active, .navbar-brand:active {
                color: darkred;
                background-color: transparent;
            }


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .example {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    .example {
        font-size: 70px;
    }
}

.carousel-inner img {
    margin: auto;
}


.carousel-caption {
    top: 40%;
    transform: translateY(40%);
}

.btn-default {
    color: black;
    background-color: white;
    border-color: white;
    border-radius: 2px;
    outline: none;
    font-size: 35px;
}

    .btn-default:hover {
        color: black;
        background-color: silver;
        border-color: black;
        border-radius: 2px;
        outline: none;
    }

    .btn-default:active {
        color: white;
        background-color: transparent;
        border: none;
    }

    .btn-default:focus {
        color: black;
        outline: none;
    }

.btn-info {
    color: #fff;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 2px;
    outline: none;
    font-size: 35px;
    font-family: Mobsters;
}

    .btn-info:hover {
        color: white;
        background-color: transparent;
        border: solid 1px grey;
        border-color: white;
        border-radius: 2px;
        outline: none;
    }

    .btn-info:active {
        color: black;
        background-color: green;
        border-color: white;
        border-radius: 2px;
        outline: none;
        font-size: 35px;
    }

    .btn-info:focus {
        background-color: black;
        border-color: white;
    }

.carousel-indicators {
    width: 5%;
    top: 5%;
    left: 77.5%;
    position: absolute;
    white-space: nowrap;
    height: 50px;
}

h1 {
    font-size: 60px;
    font-family: Mobsters;
    color: white;
}

h2 {
    font-family: 'Mobsters';
    font-size: 50px;
    color: black;
}

.carousel-control.left {
    background-color: black;
}

.carousel-control.right {
    background-color: black;
}

#icon {
    margin: 1% auto;
}

.container {
    margin: 2% auto;
}


@media (max-width:1750px) {
    .disappearingtext h1 {
        font-size: 40px;
    }

    .disappearingtext .btn-default {
        font-size: 25px;
    }

    .carouseltext {
        font-size: 40px;
    }
}


@media (max-width:1450px) {
    .disappearingtext h1 {
        font-size: 25px;
    }

    .disappearingtext .btn-default {
        font-size: 15px;
    }

    .carouseltext {
        font-size: 25px;
    }
}

@media (max-width:1275px) {
    .disappearingtext {
        display: none;
    }
}

@media (max-width:1000px) {
    .carousel-caption {
        display: none;
    }
}

@media (max-width: 600px) {
    #icon {
        max-width: 180px;
    }
}



.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.login {
    border: 1px solid grey;
    border-radius: 50px;
}

.navbar-inverse .navbar-nav > .login > a:hover {
    background-color: white;
    border: 1px solid grey;
    padding: 14px;
    border-radius: 50px;
    color: black;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
    border-color: grey;
}

.navbar-inverse .navbar-nav > .login > a:focus {
    background-color: grey;
    border-color: grey;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    color: #FFF;
    padding: 1%;
    font-size: 1.2em;
    border-bottom: 1px solid grey;
}

@media (max-width: 860px) {
    .navbar-nav {
        display: inline;
    }
}


.mylink {
    color: white;
    font-family: Mobsters;
    font-size: 50px;
}

    .mylink:hover {
        color: grey;
        text-decoration: none;
    }

    .mylink:focus {
        color: white;
    }

@media (max-width: 450px) {
    .mylink {
        font-size: 35px;
        text-anchor: middle;
    }
}

@media (max-width: 350px) {
    .mylink {
        font-size: 25px;
        text-wrap: normal;
        text-anchor: middle;
    }
}

@media (max-width: 1400px) {
    body {
        padding-top: 10%;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 20%;
    }
}

.btn-default {
    font-family: 'Mobsters';
}

label {
    font-weight: lighter;
    color: white;
    font-family: Mobsters;
    font-size: 30px;
    letter-spacing: 5px;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.identity {
    font-size: 20px;
    padding: 10px 15px;
    line-height: 20px;
    color: grey;
}

.characters {
    border: solid 1px white;
    border-radius: 140px;
    width: 200px;
    height: 200px;
    vertical-align: central;
}

.WhiteSubtitles {
    font-family: Mobsters;
    font-size: 40px;
    color: white;
    padding: 5px;
}

.hover13 .characters:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}


.underconstruction {
    width: 600px;
    height: 300px;
}

@media (max-width:720px) {
    .underconstruction {
        width: 300px;
        height: 250px;
    }
}

.dropdownlink {
    color: #9d9d9d;
    padding-bottom: 15px;
    line-height: 20px;
    padding: 10px 15px;
    font-family: 'Mobsters';
    font-size: 27px;
}
